/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* PARTIALS */
/* VH-VW */
/* COLORS */
/* FONTS */
/*font-weight*/
/*font-family*/
/*font-size*/
.wrapper {
  max-width: 83.3333333333%;
  margin: 0 auto;
}

.slide-xs, .slide-s, .slide-sm, .slide-m, .slide-l, .slide {
  width: 100%;
  position: relative;
}

.slide-xs {
  height: 11.1111111111vh;
}

.slide-s {
  height: 20vh;
}

.slide-sm {
  height: 30.303030303vh;
}

.slide-m {
  height: 50vh;
}

.slide-l {
  height: 90.9090909091vh;
}

.slide {
  height: 100vh;
}

strong {
  color: #E5C65A;
  font-weight: 700;
}
strong:hover {
  text-decoration: underline;
}

/* Pages */
header nav ul {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  background-color: #1E1E1E;
  padding-left: 2rem;
}
header nav ul li {
  padding: 1rem;
}
header nav ul li a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: #E5C65A;
}

#home #logo-home {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  position: relative;
  background-color: #1E1E1E;
}
#home #logo-home h1 {
  position: relative;
}
#home #logo-home h1 {
  bottom: -3vh;
}
#home .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#home .text {
  width: 50%;
}
#home .text h1 {
  padding-bottom: 1rem;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1E1E1E;
}
#home .text p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #1E1E1E;
}
#home .callto {
  border-left: 1px solid #1E1E1E;
  padding-left: 5rem;
}
#home .callto a {
  display: block;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: normal;
  padding: 1rem;
  background-color: #1E1E1E;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#home .callto a:hover {
  background-color: #E5C65A;
  color: #1E1E1E;
}
#home .logo {
  display: flex;
  justify-content: space-between;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #D9D9D9;
  padding: 0;
  position: relative;
}
#home .logo h1 {
  position: relative;
}
#home .logo h1 {
  bottom: -3vh;
}

#infos .slide-l {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#infos .slide-l #info1 {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../images/batmobile2.jpeg");
}
#infos .slide-l #info2 {
  grid-column: 1;
  grid-row: 2;
  background-image: url("../images/batmobile12.jpeg");
  justify-content: flex-end;
}
#infos .slide-l #info3 {
  grid-column: 2;
  grid-row: 1/span 2;
  background-image: url("../images/batmobile6.jpeg");
}
#infos .slide-l #info1, #infos .slide-l #info2, #infos .slide-l #info3 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#infos .slide-l #info1 h2, #infos .slide-l #info2 h2, #infos .slide-l #info3 h2 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 2rem 0 2rem;
}
#infos .slide-l #info1 .overlay, #infos .slide-l #info2 .overlay {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.85);
}

#about {
  overflow: hidden;
}
#about .logo h1 {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 16.7vw;
  text-transform: uppercase;
  color: #F2F2F2;
  padding: 0;
  position: relative;
  top: -3vh;
}
#about .logo h1 h1 {
  position: relative;
}

#story {
  background-color: #F2F2F2;
}
#story .logo {
  display: flex;
  justify-content: space-between;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  position: relative;
}
#story .logo h1 {
  position: relative;
}
#story .logo h1 {
  bottom: -3vh;
  z-index: 300;
}
#story .slide-l {
  overflow: hidden;
}
#story .slide-l .overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: 300;
}
#story .slide-l .overlay h2 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1E1E1E;
  text-align: center;
  padding-bottom: 1rem;
}
#story .slide-l .overlay p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #1E1E1E;
}
#story .slide-l img {
  position: relative;
  left: -10%;
  width: 122%;
}

#contact {
  overflow: hidden;
  background-color: #1E1E1E;
  position: relative;
  z-index: -300;
}
#contact footer {
  padding: 3rem 0;
}
#contact footer .logo {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #4C4C4C;
  padding: 0;
  position: relative;
  top: -13vh;
  z-index: -100;
}
#contact footer .logo h1 {
  position: relative;
}
#contact footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact footer .container .menu, #contact footer .container .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#contact footer .container .menu nav {
  padding-bottom: 1rem;
}
#contact footer .container .menu nav ul {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: none;
  padding-left: 0;
}
#contact footer .container .menu nav ul li {
  padding: 0.5rem 0;
}
#contact footer .container .menu nav ul li a {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}
#contact footer .container .menu nav ul li a:hover {
  color: #E5C65A;
}
#contact footer .container .menu .adress h3 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #6C6C6C;
}
#contact footer .container .menu .adress p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  color: #E5C65A;
}
#contact footer .container .text form {
  display: flex;
  justify-content: flex-end;
}
#contact footer .container .text form #email {
  width: 25vw;
  background-color: #1E1E1E;
  border: 1px solid #D9D9D9;
}
#contact footer .container .text form #email:focus {
  border: 1px solid #E5C65A;
}
#contact footer .container .text .callto, #contact footer .container .text #email {
  display: block;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: normal;
  padding: 0.5rem;
  background-color: #4C4C4C;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#contact footer .container .text .callto:hover, #contact footer .container .text #email:hover {
  background-color: #E5C65A;
  color: #1E1E1E;
}
#contact footer .container .text #email {
  color: #6C6C6C;
  text-align: left;
}
#contact footer .container .text h2 {
  padding-bottom: 3rem;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F2F2F2;
}
#contact .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #4C4C4C;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: none;
  color: #6C6C6C;
}

/* MediaQueries */
@media all and (max-width: 424.98px) {
  .slide {
    height: max-content;
  }
  .wrapper {
    width: 100%;
  }
  #home .slide-sm {
    flex-direction: column;
  }
  #home .slide-sm .text {
    width: 100%;
    padding-bottom: 1rem;
  }
  #story .slide-m img {
    left: 0;
    width: 100%;
  }
}
@media all and (max-width: 575.98px) {
  .slide-xs,
  .slide-s,
  .slide-sm,
  .slide-m,
  .slide-l {
    height: max-content;
  }
  #home .slide-m {
    width: 100vw;
  }
  #home .slide-sm {
    padding: 1rem;
  }
  #home .callto {
    border-left: none;
    padding-left: 0;
    margin-left: auto;
  }
  #contact .text {
    width: 50%;
  }
  #contact .text form {
    flex-direction: column;
    margin-left: auto;
  }
  #contact .text form .callto {
    margin-left: auto;
  }
}
@media all and (max-width: 767.98px) {
  #infos .slide-l {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  #infos .slide-l #info1 {
    grid-column: 1;
    grid-row: 1;
  }
  #infos .slide-l #info2 {
    grid-column: 1;
    grid-row: 2;
  }
  #infos .slide-l #info3 {
    grid-column: 1;
    grid-row: 3;
  }
}
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-size: 1rem;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
