/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* PARTIALS */
/* VH-VW */
/* COLORS */
/* FONTS */
/*font-weight*/
/*font-family*/
/*font-size*/
.wrapper {
  max-width: 83.3333333333%;
  margin: 0 auto;
}

.slide-xs, .slide-s, .slide-sm, .slide-m, .slide-l, .slide {
  width: 100%;
  position: relative;
  resize: both;
  overflow: auto;
}

.slide-xs {
  height: 11.1111111111vh;
}

.slide-s {
  height: 20vh;
}

.slide-sm {
  height: 30.303030303vh;
}

.slide-m {
  height: 50vh;
}

.slide-l {
  height: 90.9090909091vh;
}

.slide {
  height: 100%;
}

strong {
  color: #E5C65A;
  font-weight: 700;
}
strong:hover {
  text-decoration: underline;
}

/* PAGES */
header {
  background-color: #1E1E1E;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1E1E1E;
  padding-left: 2rem;
}
header nav ul li {
  padding: 1rem;
}
header nav ul li a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}
header nav ul li a:hover {
  color: #E5C65A;
}
header #burger {
  width: 2rem;
  margin-left: 2rem;
  padding-top: 1rem;
  display: none;
}
header #burger .bar {
  background-color: #1E1E1E;
  width: 100%;
  height: 2px;
  background-color: #F2F2F2;
}
header #burger .bar:nth-child(even) {
  margin: 0.5rem 0;
}

#home {
  overflow: hidden;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slideout {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}
@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorpop {
  0% {
    background-color: #1E1E1E;
  }
  50% {
    background-color: #E5C65A;
  }
  100% {
    background-color: #1E1E1E;
  }
}
#home #logo-home {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  position: relative;
  background-color: #1E1E1E;
}
#home #logo-home h1 {
  position: relative;
}
#home #logo-home h1 {
  bottom: -2vh;
}
#home .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#home .text {
  width: 50%;
}
#home .text h1 {
  padding-bottom: 1rem;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1E1E1E;
  word-wrap: break-word;
}
#home .text p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #1E1E1E;
  word-wrap: break-word;
}
#home .callto {
  border-left: 1px solid #1E1E1E;
  padding-left: 5rem;
}
#home .callto a {
  display: block;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: normal;
  padding: 1rem;
  background-color: #1E1E1E;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#home .callto a:hover {
  background-color: #E5C65A;
  color: #1E1E1E;
}
#home .logo {
  display: flex;
  justify-content: space-between;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #D9D9D9;
  padding: 0;
  position: relative;
}
#home .logo h1 {
  position: relative;
}
#home .slide-m {
  background-color: #D9D9D9;
  animation-name: slidein;
  animation-duration: 5s;
  transition: 1s cubic-bezier(0.85, 0.11, 0, 1.96);
}
#home .text h1, #home .text p {
  animation-name: opacityin;
  animation-duration: 8s;
}
#home .callto a {
  animation-name: colorpop;
  animation-duration: 5s;
  animation-delay: 2s;
  transition: all 0.5s ease-in-out;
}

#infos .slide-l {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 1fr);
}
#infos .slide-l #info1 {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../images/batmobile2.jpeg");
}
#infos .slide-l #info2 {
  grid-column: 1;
  grid-row: 2;
  background-image: url("../images/batmobile12.jpeg");
  justify-content: flex-end;
}
#infos .slide-l #info3 {
  grid-column: 2;
  grid-row: 1/span 2;
  background-image: url("../images/batmobile6.jpeg");
  background-position: center center;
}
#infos .slide-l #info1, #infos .slide-l #info2, #infos .slide-l #info3 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#infos .slide-l #info1 h2, #infos .slide-l #info2 h2, #infos .slide-l #info3 h2 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  word-wrap: break-word;
  padding: 0 2rem 0 2rem;
}
#infos .slide-l #info1, #infos .slide-l #info2 {
  overflow: hidden;
}
#infos .slide-l #info1 .overlay, #infos .slide-l #info2 .overlay {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 30, 0.85);
}
#infos .slide-l #info1:hover .overlay {
  animation-name: slidein;
  animation-duration: 2s;
  transition: all 0.5s ease-in;
}
#infos .slide-l #info2:hover .overlay {
  animation-name: slideout;
  animation-duration: 2s;
  transition: all 0.5s ease-in;
}

#about {
  overflow: hidden;
}
#about .logo h1 {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 16.7vw;
  text-transform: uppercase;
  color: #F2F2F2;
  padding: 0;
  position: relative;
  top: -3vh;
}
#about .logo h1 h1 {
  position: relative;
}

#story {
  background-color: #F2F2F2;
}
#story .logo {
  display: flex;
  justify-content: space-between;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  position: relative;
}
#story .logo h1 {
  position: relative;
}
#story .logo h1 {
  bottom: -3vh;
  z-index: 300;
}
#story .slide-l {
  overflow: hidden;
  /* slideshow controls */
}
#story .slide-l .overlay {
  padding: 2rem 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: 300;
}
#story .slide-l .overlay h2 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1E1E1E;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 1rem;
}
#story .slide-l .overlay p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #1E1E1E;
  word-wrap: break-word;
}
#story .slide-l .overlay .prev, #story .slide-l .overlay .next {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
}
#story .slide-l .overlay .prev {
  left: -25%;
}
#story .slide-l .overlay .next {
  right: -25%;
}

#contact {
  overflow: hidden;
  background-color: #1E1E1E;
  position: relative;
  z-index: -300;
}
#contact footer {
  padding-bottom: 2rem;
}
#contact footer .logo {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: #4C4C4C;
  padding: 0;
  position: relative;
  top: -5vh;
  z-index: -100;
}
#contact footer .logo h1 {
  position: relative;
}
#contact footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#contact footer .container .menu, #contact footer .container .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}
#contact footer .container .menu nav {
  padding-bottom: 1rem;
}
#contact footer .container .menu nav ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  width: 100%;
}
#contact footer .container .menu nav ul li {
  padding: 0.5rem 0;
}
#contact footer .container .menu nav ul li a {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}
#contact footer .container .menu nav ul li a:hover {
  color: #E5C65A;
}
#contact footer .container .menu nav ul li {
  flex: 1;
}
#contact footer .container .menu .adress h3 {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #6C6C6C;
  word-wrap: break-word;
}
#contact footer .container .menu .adress p {
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  color: #E5C65A;
  word-wrap: break-word;
}
#contact footer .container .text form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
#contact footer .container .text form #email {
  background-color: #1E1E1E;
  box-shadow: 0px 0px 0px 1px #D9D9D9 inset;
}
#contact footer .container .text form #email:focus {
  border: 1px solid #E5C65A;
}
#contact footer .container .text form label {
  opacity: 0;
}
#contact footer .container .text .callto, #contact footer .container .text #email {
  display: block;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  font-style: normal;
  padding: 0.5rem;
  background-color: #4C4C4C;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#contact footer .container .text .callto:hover, #contact footer .container .text #email:hover {
  background-color: #E5C65A;
  color: #1E1E1E;
}
#contact footer .container .text #email {
  color: #6C6C6C;
  text-align: left;
}
#contact footer .container .text h2 {
  padding-bottom: 3rem;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #F2F2F2;
  word-wrap: break-word;
}
#contact .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem;
  background-color: #4C4C4C;
  letter-spacing: 0.09em;
  font-kerning: normal;
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: none;
  color: #6C6C6C;
  word-wrap: break-word;
}

/* MediaQueries */
@media all and (max-width: 376.98px) {
  #contact .menu {
    padding-bottom: 1rem;
  }
}
@media all and (max-width: 424.98px) {
  header nav {
    display: none;
  }
  header #burger {
    display: block;
  }
  #home .slide-sm {
    height: max-content;
    flex-direction: column;
  }
  #home .slide-sm .text {
    width: 100%;
    padding-bottom: 1rem;
  }
  #contact .slide-sm {
    height: max-content;
  }
  #contact .container {
    gap: 0 3rem;
  }
}
@media all and (max-width: 575.98px) {
  .wrapper {
    width: 100%;
  }
  header nav ul li {
    padding: 0.5rem;
  }
  #home .slide-sm {
    padding: 1rem;
  }
  #home .callto {
    border-left: none;
    padding-left: 0;
    margin-left: auto;
  }
}
@media all and (max-width: 767.98px) {
  #infos .slide-l {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #infos .slide-l > * {
    flex: 1;
  }
  #story .slide-l {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #story .slide-l .overlay {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 60vw;
    margin: 1.5rem auto;
  }
  #story .slide-l #imgStory {
    width: 100%;
    height: auto;
  }
  #contact .menu, #contact .text {
    flex: 1;
  }
}
@media all and (max-width: 1080.98px) {
  #home .slide-m {
    height: max-content;
  }
}
@media all and (max-width: 1780.98px) {
  #story .slide-l {
    height: max-content;
  }
}
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-size: 1rem;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
