@mixin callTo($background: $dark ,$backgroundHv: $gotham, $color: $neutral, $colorHv: $dark){
    display: block;
    width: max-content;
    text-align: center;
    text-transform: uppercase;
    font-family: $title;
    font-weight: $light;
    font-size: $textXs;
    font-style: normal;
    padding: 1rem;
    //margin-left: auto;
    background-color: $background;
    //box-shadow: 2px 2px 4px $dark-shadow;
    border: none;
    color: $color;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover{
        background-color: $backgroundHv;
        color: $colorHv;
    }
}