#contact{
    overflow: hidden;
    background-color: $dark;
    position: relative;
    z-index: -300;
    footer{
        //padding: 3rem 0;
        padding-bottom: 2rem;
        .logo{
            @include logo($color: $medium);
            top: -5vh;
            z-index: -100;
        }
        .container{
            @include container($justify: space-between ,$align: center);
            .menu, .text{
                height: 100%;
                @include container($direction: column, $justify: space-around ,$align: left);
            }
            .menu{
                nav{
                    padding-bottom: 1rem;
                    ul{
                        @include menu($align: left, $justify: center, $background: none, $color: $xtlight, $direction: column, $padding: 0, $padLi: 0.5rem 0);
                    }
                }
                .adress{
                    h3{
                        @include text($font: $title, $fweight: $light, $size: $textL, $color: $off, $transform: uppercase);
                    }
                    p{
                        @include text($font: $text, $fweight: $regular, $size: $textXs, $color: $gotham);
                    }
                }
            }
            .text{
                form{
                    @include container($justify: flex-end);
                    #email{
                        width: 10rem;
                        background-color: $dark;
                        //border: 1px solid $colorLight;
                        box-shadow:0px 0px 0px 1px $colorLight inset;
                        &:focus{
                            border: 1px solid $gotham;
                        }
                    }
                }
                .callto, #email{
                    @import "bouton";
                    @include callTo($background: $medium, $color: $xtlight, $colorHv: $dark, $padding: 0.5rem);
                }
                #email{
                    color: $off;
                    text-align: left;
                }
                h2{
                    padding-bottom: 3rem;
                    @include text($font: $title, $fweight: $light, $size: $textL, $color: $xtlight, $transform: uppercase);
                }
            }
        }
    }
    .copyright{
        @include container;
        text-align: center;
        padding: 0.5rem;
        background-color: $medium;
        @include text($font: $text, $fweight: $light, $size: $textXs, $color: $off);
    }
}