header {
  background-color: $dark;
  nav {
    ul {
      @include menu;
    }
  }
  #burger {
    width: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    display: none;
    .bar {
      background-color: $dark;
      width: 100%;
      height: 2px;
      background-color: $xtlight;
      &:nth-child(even) {
        margin: 0.5rem 0;
      }
    }
  }
}
