@media all and (max-width: 424.98px){
    header nav{
        display: none;
    }
    .slide{
        height: max-content;
    }
    // .wrapper{
    //     width: 100%;
    // }
    #home{
        .slide-sm{
            flex-direction: column;
                .text{
                    width: 100%;
                    padding-bottom: 1rem;
                }
            }
    }
    #contact{
        .container{
            flex-direction: column;
            & > *{
                width: 100%;
            }
            .menu ul{
                flex-direction: row;
            }
        }
    }
}
@media all and (max-width: 575.98px){
    .slide-xs,
    .slide-s,
    .slide-sm,
    .slide-m,
    .slide-l {
        height: max-content;
    }
    .wrapper{
        width: 100%;
    }
    header nav ul{
        //padding-left: 0;
        li{
            padding: 0.5rem;
        }
    }
    #home{
        // .slide-m{
        //     width: 100vw;
        // }
        .slide-sm{
            padding: 1rem;
        }
        .callto {
            border-left: none;
            padding-left: 0;
            margin-left: auto;
        }
    }
    #story{
        .slide-l{
            display: flex;
            flex-direction: column;
            .overlay{
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0%, 0%);
                width: 60vw;
                margin: 1.5rem auto;
            }
            img{
                left: 0;
                width: 100%;
                height: auto;
            }
        }
    }
    #contact{
        .text{
            width: 50%;
            form{
                flex-direction: column;
                margin-left: auto;
                .callto{
                    margin-left: auto;
                }
            }
        }
    }
}
@media all and (max-width: 767.98px){
    #home{
        .slide-m{
            width: 100vw;
        }
    }
    #infos{
        .slide-l{
            height: 100vh;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            #info1{
                grid-column: 1;
                grid-row: 1;
            }
            #info2{
                grid-column: 1;
                grid-row: 2;
            }
            #info3{
                grid-column: 1;
                grid-row: 3;
            }
        }
    }
}