/* VH-VW */
$fullWidth: 100%;
$fullHeight: 100vh;
/* COLORS */
    $neutral: #FFFFFF;
    $xtlight: #F2F2F2;
    $colorLight: #D9D9D9;
    $off: #6C6C6C;
    $medium: #4C4C4C;
    $dark: #1E1E1E;
    $opacityDark: rgba(30, 30, 30, 0.85);
    $opacityNull: rgba(0, 0, 0, 0);
    $gotham: #E5C65A;
/* FONTS */
    /*font-weight*/
    $light: 300;
    $regular: 400;
    $semiBold: 600;
    $bold: 700;
    $black: 900;
    /*font-family*/
    $bat: "Limelight", sans-serif;
    $title: "Montserrat", sans-serif;
    $text: "Krub", sans-serif;
    /*font-size*/
    $titleL: 2rem;
    $titleM: 1.5rem;
    $textL: 1.2rem;
    $textS: 1rem;
    $textXs: 0.8rem;