/* VH-VW */
$fullWidth: 100%;
$fullHeight: 100vh;
/* COLORS */
$neutral: #ffffff;
$xtlight: #f2f2f2;
$colorLight: #d9d9d9;
//$colorMedium: #ECECEC;
$off: #6c6c6c;
$medium: #4c4c4c;
$dark: #1e1e1e;
$opacityDark: rgba(30, 30, 30, 0.85);
$opacityNull: rgba(0, 0, 0, 0);
$gotham: #e5c65a;
/* FONTS */
/*font-weight*/
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$black: 900;
/*font-family*/
$bat: "Limelight", sans-serif;
$title: "Montserrat", sans-serif;
$text: "Krub", sans-serif;
/*font-size*/
$titleL: 2rem;
$titleM: 1.5rem;
$textL: 1.2rem;
$textS: 1rem;
$textXs: 0.8rem;
